<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Timer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WpfApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Timer.Properties.Settings>
            <setting name="Minutes" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Seconds" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRestart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AFKMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompactSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FlashWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgressBar" serializeAs="String">
                <value>True</value>
            </setting>
        </Timer.Properties.Settings>
        <WpfApplication1.Properties.Settings>
            <setting name="Minutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Seconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CastleWarsMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompactSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>200</value>
            </setting>
        </WpfApplication1.Properties.Settings>
    </userSettings>
</configuration>